version: "3.8"
services:
  mysql:
    container_name: mysql_local
    image: mysql:8.0.30
#    데이터 유지될 수 있도록 처리
    volumes:
#      - ./db/conf.d:/etc/mysql/conf.d
#      - /Users/kgh/dev/fastcampus/spring-batch-pass/db/initdb.d:/docker-entrypoint-initdb.d:ro
#      - ():/etc/mysql/conf.d
#      - ():/docker-entrypoint-initdb.d:ro
       - ./db/conf.d:/etc/mysql/conf.d
       - ./db/initdb.d:/docker-entrypoint-initdb.d

    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=pass_local
      - MYSQL_USER=pass_local_user
      - MYSQL_PASSWORD=passlocal123
      - MYSQL_ROOT_PASSWORD=passlocal123
      - TZ=Asia/Seoul
    # (this is just an example, not intended to be a production configuration)
